.c-btn {
  border: 1px solid white;
  outline: none;
  font-size: .28rem;
  color: white;
  appearance: none;
  background-color: transparent;
  padding: .1rem .3rem;
  text-align: center;
  font-family: inherit;
  &.f-touched {
    background: white;
    color: black;
  }
  &:focus {
    outline: 1px currentColor dashed;
  }
}