.p-entrance {
  position: relative;
  height: 100vh;
  .u-filter {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../asset/images/filter.png');
    background-size: 7.4rem 12rem;
    background-repeat: repeat;
  }
  .u-slider {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7.5rem;
    height: 100vh;
    overflow: hidden;
    .resource-0 {
      transform-origin: 80% 15%;
    }
    .resource-1 {
      transform-origin: right center;
    }
    .resource-3 {
      transform-origin: left center;
    }
  }
  .m-container {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .u-title {
      font-size: .72rem;
      color: white;
      line-height: 1.2rem;
      margin-top: -1rem;
    }
    .u-typing {
      font-weight: lighter;
    }
    .u-btn {
      margin-top: .6rem;
      background-color: black;
      font-size: .36rem;
      font-weight: 100;
      min-width: 3.8rem;
      color: white;
      &.f-touched {
        background-color: white;
        color: black;
      }
    }
  }
  .u-media-controller {
    position: absolute;
    right: .36rem;
    top: .36rem;
  }
}