.p-upload {
  width: 100%;
  height: 100vh;
  background: #39363f;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .u-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    img {
      display: block;
      width: auto;
      height: 110%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(12px);
    }
  }
  .m-card {
    width: 5.54rem;
    position: relative;
    z-index: 2;
  }
  .m-upload {
    width: 5.54rem;
    height: 4.42rem;
    mask: url('../../asset/images/section1.png');
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    position: relative;
    display: block;
    .u-upload-bg {
      display: block;
      width: 100%;
      height: 100%;
    }
    .u-upload-control {
      display: none;
    }
    .u-upload-trigger {
      position: absolute;
      left: 0;
      top: 0;
      border: none;
      padding: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: .26rem;
      .trigger {
        width: .8rem;
        display: block;
      }
      .content {
        font-weight: 300;
        margin-top: .1rem;
      }
      &.f-touched {
        color: white;
        .trigger,
        .content {
          transform: scale(.9);
        }
      }
    }
  }
  .m-user-info {
    width: 100%;
    height: 3.1rem;
    mask: url('../../asset/images/section2.png');
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    background: white;
  }
  .m-row {
    padding: .4rem 0 0;
    text-align: center;
    .u-submit {
      width: 2.2rem;
      height: .56rem;
      line-height: .56rem;
      box-sizing: content-box;
      font-size: .34rem;
      background-color: black;
      font-weight: 300;
      &.f-touched {
        background: white;
        color: black;
      }
    }
  }
}