.c-image-drop {
  width: 100%;
  .item {
    width: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
    transition: transform .5s;
    &.f-active {
      p {
        color: white;
      }
      &:before {
        background-color: rgba(0,0,0,.1);
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0,0,0,.5);
      transition: background-color .5s;
      border-radius: .2rem;
    }
    img {
      display: block;
      width: 100%;
      border-radius: .2rem;
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      font-size: .42rem;
      color: rgba(255, 255, 255, .75);
      text-align: center;
      font-weight: 300;
      white-space: nowrap;
    }
  }
}